<footer class="site-footer container large">
	
	<div class="copyright">
		Powered by <a href="https://ghost.org/" target="_blank" rel="noopener">Ghost</a> with theme <a href="https://github.com/shyrz/prose" target="_blank" rel="noopener">Prose</a>
	</div>

	{{> logo}}

	<div class="footer-social">
		{{#if @site.facebook}}
			<a class="footer-social-item footer-social-item-facebook" href="{{facebook_url @site.facebook}}"
				target="_blank" rel="noopener" aria-label="Facebook">
				<i class="icon icon-logo-facebook"></i>
			</a>
		{{/if}}
		{{#if @site.twitter}}
			<a class="footer-social-item footer-social-item-twitter" href="{{twitter_url @site.twitter}}"
				target="_blank" rel="noopener" aria-label="Twitter">
				<i class="icon icon-logo-twitter"></i>
			</a>
		{{/if}}
		{{!-- Weibo --}}
		<a class="footer-social-item footer-social-item-weibo" href="https://weibo.com/Phantr4x"
			target="_blank" rel="noopener" aria-label="Weibo">
			<i class="icon icon-logo-weibo"></i>
		</a>

		{{!-- Weibo --}}
		<a class="footer-social-item footer-social-item-instagram" href="https://instagram.com/shyrz__"
			target="_blank" rel="noopener" aria-label="Instagram">
			<i class="icon icon-logo-instagram"></i>
		</a>

		{{!-- Telegram --}}
		<a class="footer-social-item footer-social-item-telegram" href="https://t.me/shyrzz"
			target="_blank" rel="noopener" aria-label="Telegram">
			<i class="icon icon-telegram"></i>
		</a>

		{{!-- GitHub --}}
		<a class="footer-social-item footer-social-item-github" href="https://github.com/shyrz"
			target="_blank" rel="noopener" aria-label="GitHub">
			<i class="icon icon-logo-github"></i>
		</a>

		{{!-- GitHub --}}
		<a class="footer-social-item footer-social-item-dribbble" href="https://dribbble.com/Shyrz_"
			target="_blank" rel="noopener" aria-label="Dribbble">
			<i class="icon icon-logo-dribbble"></i>
		</a>

		{{!-- GoodReads --}}
		{{!-- <a class="footer-social-item footer-social-item-goodreads" href="https://goodreads.com/shyrz"
			target="_blank" rel="noopener" aria-label="GoodReads">
			<i class="fab fa-goodreads-g"></i>
		</a> --}}

		{{!-- Spotify --}}
		<a class="footer-social-item footer-social-item-spotify" href="https://volt.fm/shyrz"
			target="_blank" rel="noopener" aria-label="Spotify">
			<i class="icon icon-logo-spotify"></i>
		</a>
		
		{{!-- Steam --}}
		{{!-- <a class="footer-social-item footer-social-item-steam" href="https://steamcommunity.com/id/shyrz_cn"
			target="_blank" rel="noopener" aria-label="Steam">
			<i class="icon icon-logo-steam"></i>
		</a> --}}

		{{!-- RSS --}}
		<a class="footer-social-item footer-social-item-rss"
			href="{{@site.url}}/rss/" target="_blank" rel="noopener"
			aria-label="RSS">
			<i class="icon icon-logo-rss"></i>
		</a>
	</div>
</footer>

{{> podcast is_external=true}}
