<article class="{{post_class}} post-{{comment_id}}{{#unless feature_image}} no-image{{/unless}}{{#if og_description}} podcast{{/if}}">

	{{#if feature_image}}
		{{> post-media ratio="horizontal"}}
	{{/if}}

	<div class="container medium">
		{{> post-header big_title=true is_player=og_description}}
		{{#if excerpt}}
			<div class="post-excerpt">
				{{excerpt words="15"}}
			</div>
		{{/if}}
		{{> post-footer}}
	</div>
</article>
