<div class="scrolltop">
  <button class="scrolltop-button filled in-share progress js-scrolltop" aria-label="{{t "Scroll to Top"}}">
    <i class="icon icon-up-arrow"></i>
    <svg aria-hidden="true">
      <circle class="progress-ring__circle js-progress" fill="transparent" r="0" />
    </svg>
  </button>
</div>
