{{!< default}}

<div class="content-area">
	<main class="site-main">
		<div class="post-feed">
			{{#foreach posts}}
				{{> "loop" is_podcast=og_description}}
			{{/foreach}}
		</div>
		{{pagination}}
	</main>
</div>
