.post {
	margin-bottom: 75px;
}

/* .site-main .post:not(.single-post) {
	display: flex;
	flex-direction: row;
	max-width: 960px;
	margin: 0 auto 75px;
} */

/* Tags */
.post-tags {
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
	flex-wrap: wrap;
	max-width: 1056px;
	margin: 0 auto;
}

.post-tags-card {
	position: relative;
	top: 0;
	width: 320px;
	height: 180px;
	margin: 1rem;
	/* border-radius: 1rem; */
	background-color: var(--gray-800);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
	transition: all .25s cubic-bezier(.02,.01,.47,1);
	overflow: hidden;
}

.post-tags-card:hover {
	top: -5px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.post-tags-card-link {
	position: relative;
	display: flex;
	height: 100%;
	padding: 1rem;
}

.post-tags-card-picture {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* border-radius: 1rem; */
	-o-object-fit: cover;
	object-fit: cover;
	opacity: .7;
	z-index: 1;
}

.post-tags-card-info {
	position: absolute;
	left: 1rem;
	bottom: 1rem;
	z-index: 2;
}

.post-tags-card-name {
	font-size: 1.375rem;
	margin: 0;
	color: var(--gray-100);
}

.post-tags-card-counter {
	font-size: 1rem;
	color: var(--gray-100);
}


/* Media */
.post-media {
	position: relative;
	margin-bottom: 20px;
}

/* .site-main .post:not(.single-post) .post-media {
	width: 20rem;
	height: auto;
	margin-bottom: 0;
} */

.post-media.large {
	margin-bottom: 45px;
}

.post .player {
	margin-bottom: 45px;
}

.post .player .post-media.js-play {
	width: 180px;
	height: 100%;
}


.post-media-tag {
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 10;
	padding: 2px 10px 4px;
	color: var(--white-color);
	font-size: 0.75rem;
	font-weight: bold;
	background: var(--primary-color);
	border-radius: 1rem;
}

.post-media .post-image-link {
	display: flex;
}

.post-placeholder {
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: var(--gray-200);
}

.post-header {
	position: relative;
	margin-bottom: 20px;
}

.post-title {
	margin-bottom: 10px;
	font-size: 1rem;
}

.post-header.big-title .post-title {
	font-size: 2rem;
	font-weight: 800;
	letter-spacing: -0.5px;
}

.post-title-link:hover {
	color: var(--primary-color);
}

.post-meta {
	color: var(--secondary-text-color);
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

.post-meta-item + .post-meta-item::before {
	content: "\02022";
	padding: 0 4px;
	font-family: serif;
}

.post-tag {
	color: var(--primary-color);
}

.post-tag + .post-tag::before {
	content: ", ";
}

.post-excerpt,
.post-content * {
	font-family: var(--font-serif);
	line-height: 1.65;
}

.post-content p {
	margin: 0;
}

.post-content figure {
	/* border-radius: 1rem; */
	overflow: hidden;
}

.post-content figcaption {
	font-family: var(--font-sans);
}

.post-content figure img {
	/* border-radius: 1rem; */
}

.post-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
	padding-top: 10px;
	border-top: 1px solid var(--mid-gray-color);
}

.post-action {
	display: flex;
	align-items: center;
	line-height: 1;
}

.post-link {
	position: relative;
	display: flex;
	align-items: center;
	padding-left: 1rem;
	font-size: 0.875rem;
	font-weight: 700;
	letter-spacing: 0.3px;
	text-transform: uppercase;
}

.post-link::before {
	position: absolute;
	left: 0;
	font-family: Prose, sans-serif;
	font-size: 10px;
}

.post-link.primary {
	color: var(--primary-color);
	font-weight: 700;
}

.post-link.primary::before {
	content: "\ea08";
	top: 3px;
	left: -2px;
}

.post-link.secondary {
	margin-left: 15px;
	padding-left: 17px;
}

.post-link.secondary::before {
	content: "\ea0d";
	top: 3px;
	left: -2px;
}


.post-author {
	display: flex;
	align-items: center;
}

.post-author-image-link {
	position: relative;
	display: block;
	margin: 0 -4px;
	width: 30px;
	height: 30px;
}

.post-author-image-link:first-child {
	z-index: 10;
}

.post-author-image-link:nth-child(2) {
	z-index: 9;
}

.post-author-image-link:nth-child(3) {
	z-index: 8;
}

.post-author-image-link:nth-child(4) {
	z-index: 7;
}

.post-author-image-link:nth-child(5) {
	z-index: 6;
}

.post-author-image {
	border: 2px solid var(--white-color);
	border-radius: 50%;
}

.post-author-name {
	margin-top: -3px;
	margin-left: 10px;
	color: var(--secondary-text-color);
	font-size: 0.875rem;
	line-height: 1;
	font-weight: 700;
}

.post-author-name-link + .post-author-name-link::before {
	content: ", ";
	color: var(--secondary-text-color);
}


@media (max-width: 767px) {
	.post-media.large {
		margin-bottom: 30px;
	}

	.post:not(.single-post) .post-title {
		font-size: 20px !important;
	}
}
